:root {
  --bg-color: #f2f4f7;
  --text-color: #080809;

  --header-background: #fff;
}

[data-theme="dark"] {
  --bg-color: #121113;
  --text-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  margin: 0;
  background-color: var(--bg-color);
  // background-image: url("../assets/images/background.png");
  transition: background-color 0.3s, color 0.3s;
}
