.input-search {
  position: relative;
  width: max-content;
  input {
    font-size: 16px;
    color: var(--search-text-color);
    font-family: "roboto";
    border: none;
    outline: 0;
    height: 46px;
    width: 488px;
    padding-left: 16px;
    background: var(--search-background-color);
    border-radius: 10px;
  }
  button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 46px;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
  }
}
